{% extends 'starter.html' %}
{% block title %} <h3> Shipping Customer ID List </h3> {% endblock %}
{% block content%}
<div class="div-align">
        <div class="offset-1 col-10 list-div">
            <a id="add-link" href="/shipping/create/">
                <div class="col-2 add-div">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
        </div>
        <div class="col-9 search-div">
            <form method="GET" id="search-form">
                <input class="form-control" type="text" name="search" id="search" placeholder="Enter item to search" value="{{ request.GET.search }}">
                <i class="fas fa-search" id="search-btn"></i>
            </form>
        </div>
    </div>
    <ul class="shipping-list">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% for customer in customers %}
        <li class="shipping-item">
            <span><a href="/shipping/read/{{customer.id}}">{{customer.first_name}}</a></span>
        </li>
        {% endfor %}
    </ul>
        <div class="pagination">
            <span class="step-links">
                {% if customers.has_previous %}
                    <a href="?page={{ customers.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                {% endif %}
                
                {% if customers.paginator.num_pages %}
                <span class="current">
                    {{ customers.number}} of {{ customers.paginator.num_pages }}
                </span>
                {% endif %}

                {% if customers.has_next %}
                    <a href="?page={{ customers.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}